:root{
    /* Colors */
    --background-color: #FFFFFF;

    /* Fonts */
    --font-corporative: 'Bayon', 'sans-serif';
    --font-primary: 'Rubik', 'sans-serif';
    --font-secondary: 'Poppins', 'sans-serif';
    --font-secondary: 'Onest', 'sans-serif';
    --font-contrast: 'Rufina', 'serif';

    --navbar-heigth: 75px;
    --nav-option-font-size: 20px; 
    --nav-icon-toggler-width: 50px;
    --nav-icon-toggler-rotation-degs: 40deg;
    --scroll-down-inner-circle-width: 60px;
    --scroll-down-space-between-circles: 10px;
    --font-corporative-adjust-ratio-top: 0.52;
    --font-corporative-adjust-ratio-bottom: 0.59;
    --header-title-font-size: 300px;
    --header-subtitle-font-size: 30px;

}

/*   ______________________   GENERAL   ______________________   */

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Rubik', 'sans-serif';
    cursor: none;
}

body{
    background-color: var(--background-color);
}

.btn{
    background-color: transparent;
    border: none;
    outline: none;
}

.simple-line{
    height: 1px;
    border-bottom: 1px solid black;
}

::-webkit-scrollbar{
    display: none;
}

.cursor-frame{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: exclusion;
}

.cursor{
    position: absolute;
    width: 20px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: white;
    mix-blend-mode: exclusion;
    transform: translate(-50%, -50%);
    transition: width 0.20s;
}

.cursor-hover{
    width: 45px;
}

/*   ______________________   ENTRANCE ANIMATION   ______________________   */

.entrance-scene{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 9999;
}

.entrance-curtine{
    width: 25%;
    height: 100%;
    background-color: black;
    transition: transform 0.5s ease-in;
    transition-delay: 0.5s;
}

.entrance-isotype{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 10%;
    height: 50%;
    fill: transparent;
    stroke: white;
    stroke-width: 6px;
    stroke-dasharray: 505%;
    stroke-dashoffset: -505%;
    overflow: visible;
    filter: drop-shadow(0px 0px 0px white);

}

.trim-path-animation .entrance-isotype{
    stroke-dashoffset: 0%;
    transition: stroke-dashoffset 3s ease-out 0.5s
}

.show-bg-animation .entrance-isotype{
    fill: white;
    filter: drop-shadow(0px 0px 5px white);
    transition: fill 1s ease-in-out

}

.open-curtain .entrance-isotype{
    transform: translate(-50%, -50%) scale(15);
    filter: drop-shadow(0px 0px 0px white);
    opacity: 0;
    transition: 0.3s ease-in-out 1.5s
}

.open-curtain .entrance-curtine:nth-child(even){
    transform: translateY(-100%);
    transition: 0.5s ease-in-out 1.8s
}

.open-curtain .entrance-curtine:nth-child(odd){
    transform: translateY(100%);
    transition: 0.5s ease-in-out 1.8s
}

.header-logotype{
    width: 100%;
}

.header-logotype path{
    transform: translateY(100%);
    transition: 0.4s;
}

.header-logo-letter-in{
    transform: translateY(0%) !important;
}



/*   ______________________   NAVBAR   ______________________   */


.navbar-frame{
    position: sticky;
    top: 0;
    z-index: 20;
    background-color: var(--background-color);
    width: 100%;
    height: var(--navbar-heigth);
}

.navbar-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: var(--navbar-heigth);
    z-index: 50;
}

.nav-bottom-line {
    position: absolute;
    bottom: 0;
    width: 75%;
}

.abr-nav-logotype{
    display: flex;
    align-items: center;
    font-family: var(--font-corporative);
    font-size: 3.7rem;
}

.nav-options-container{
    display: flex;
    align-items: center;
}

.nav-option-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--nav-option-font-size);
    padding: 10px 20px;
}

.option-overflow-window{
    overflow: hidden;
    width: auto;
    height: var(--nav-option-font-size);
}

.nav-option-name-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    transition: 0.3s ease-out;
}

.nav-option-container:hover .nav-option-name-container{
    transform: translateY(calc(-100% + var(--nav-option-font-size) + 1.7px));
}

.nav-button-option{
    background-color: #000000;
    color: #FFFFFF;
}

.nav-toggler-btn{
    position: relative;
    width: var(--nav-icon-toggler-width);
}

.nav-toggler-line{
    position: absolute;
    width: var(--nav-icon-toggler-width);
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
    transform-origin: center;
}

.nav-toggler-line-top { top: 40%; }

.nav-toggler-line-bottom{ top: 60%; }

.movile-nav-shown .nav-toggler-line{ top: 50%; }

.movile-nav-shown .nav-toggler-line-top{
    transform: translate(-50%, -50%) rotate(var(--nav-icon-toggler-rotation-degs));
}
.movile-nav-shown .nav-toggler-line-bottom {
    transform: translate(-50%, -50%) rotate(calc(-1 * var(--nav-icon-toggler-rotation-degs)));
}

.movile-nav-shown .simple-line {
    border-bottom-color: white;
}

.movile-nav-shown .navbar-container * {
    color: white;
}

.movile-options-container, .movile-options-container-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0vh;
    transition: 0.7s cubic-bezier(0.77, 0.05, 0.92, 0.6);
    z-index: 40;
}

.movile-options-container-bg{
    background-color: lightgray;
    transition-delay: 0.1s;
}

.movile-options-container{
    background-color: black;
    transition-delay: 0s;
}

.movile-nav-shown .movile-options-container-bg{
    transition-delay: 0s;
}

.movile-nav-shown .movile-options-container{
    transition-delay: 0.1s;
}

.movile-nav-shown .movile-options-container, .movile-nav-shown .movile-options-container-bg{
    height: 100vh;
    transition-timing-function: cubic-bezier(0.77, 0.05, 0.92, 0.6);
}



/*   ______________________   HEADER   ______________________   */

.header{
    position: relative;
    height: calc(100vh - var(--navbar-heigth));
    overflow: hidden;
}

.header-isotype{
    position: absolute;
    top: 2px;
    height: 90%;
    right: 0;
    transform: translate(47%);
    fill: transparent;
    stroke-width: 1px;
    stroke: black;
    overflow: visible;
}

.header-text-container{
    position: absolute;
    top: 20%;
    left: 10%;
    width: calc(var(--header-title-font-size) * 3);
    height: calc(var(--header-title-font-size) * 1.5);
}

.header-title{
    position: absolute;
    font-family: var(--font-corporative);
    font-size: var(--header-title-font-size);
    height: auto;
}

.title-street{
    top: calc( -1 * var(--header-title-font-size) * var(--font-corporative-adjust-ratio-top));
    left: 0;
}

.title-feed{
    bottom: calc( -1 * var(--header-title-font-size) * var(--font-corporative-adjust-ratio-bottom));
    right: 0;
}


.header-subtitle{
    position: absolute;
    font-family: var(--font-contrast);
    font-size: var(--header-subtitle-font-size);
    width: calc(var(--header-subtitle-font-size) * 5);
    bottom: 0;
    left: 0;
}

.scroll-down-container{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateY(-50%);
}

.scroll-down-outer-circle{    
    width: calc(var(--scroll-down-inner-circle-width) + var(--scroll-down-space-between-circles));
}

.scroll-down-inner-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--scroll-down-inner-circle-width);
}

.scroll-down-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid black;
}

.scroll-down-arrow{
    transform: rotate(180deg);
    fill: black;
    height: 50%;
}




/*   ______________________   ROLLBAR   ______________________   */

.rollbar-container{
    display: -webkit-box;
    width: 90vw;
    border-inline: 1px solid black;
    padding-block: 10px;
    margin-inline: 5vw;
    overflow: hidden;
}

.rollbar-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.rollbar-item-container > *{
    margin-inline: 20px;
}

.rollbar-text {
    font-family: var(--font-primary);
    font-size: 50px;
    font-weight: 500;
    white-space: nowrap;
}

.rollbar-icon-separator{
    width: 25px;
}


/*   ______________________   SEPARATORS   ______________________   */


.separator-container{
    width: 100%;
    padding-inline: 150px;
    display: flex;
    flex-direction: column;
}

.seprator-text{
    margin-inline: 50px;
    color: transparent;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    font-family: var(--font-corporative);
    font-weight: 400;
}

.separation-name{
    font-size: 150px;
    transform: translateY(calc(150px * var(--font-corporative-adjust-ratio-bottom)));
    margin-bottom: 20px;
}

.separator-number-rigth .separation-name{
    align-self: self-start;
}

.separator-number-rigth .separation-number-container{
    align-self: self-end;
}


.separator-number-left .separation-name{
    align-self: self-end;
}

.separator-number-left .separation-number-container{
    align-self: self-start;
}

.separator-line{
    width: 100%;
}

.separation-number-container{
    margin-inline: 25px;
    position: relative;
    align-self: self-end;
    transform: translateY(calc( -1 * 250px * var(--font-corporative-adjust-ratio-top)));
    margin-top: 20px;
    width: auto;
    height: auto;
}

.separation-number {
    font-size: 250px;
}

.separation-number-gradient{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgb(255, 255, 255) 45%, rgba(110, 109, 109, 0) 55%)
}

.scrollbar-container{
    position: fixed;
    top: 50%;
    left: 50px;
    height: 100px;
    transform: translateY(-50%);
}

.scrollbar-rail{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 100%;
    border-right: 1px solid black;
    transform: translate(-50%, -50%);
}

.scrollbar-thumb{
    position: absolute;
    top: 0 ;
    left: 0;
    width: 10px;
    background-color: black;
    border-radius: 50%;
    aspect-ratio: 1/1;
    transform: translate(-50%, -50%);
}



@media only screen and (max-width: 768px){ 
    
    :root {
         --header-title-font-size: 120px;
         --header-subtitle-font-size: 12px;
    }
    .navbar-container > * { margin-inline: 20px; }
    .nav-options-container { display: none; }
    .nav-toggler-btn { display: flex; }
    .cursor-frame { display: none; }

    .header-isotype { 
        top: 2%; 
        height: 50%; 
    }

    .header-text-container {
        top: 55%;
        left: 5%;
        width: calc(var(--header-title-font-size)* 2.4);
    }

    .title-feed {left: 0; }
    .header-subtitle{
        text-align: end;
        left: calc(100% - var(--header-subtitle-font-size)* 5);
    }

    .scroll-down-container { display: none; }

}


@media only screen and (min-width: 768px) and (max-width: 1200px){ 

    .navbar-container > * { margin-inline: 40px; }
    .nav-options-container { display: flex;  gap: 0px; }
    .nav-toggler-btn{ display: none; }

}


@media only screen and (min-width: 1200px){ 

    .navbar-container > * { margin-inline: 70px; }
    .nav-options-container { display: flex; gap: 35px; }
    .nav-toggler-btn{ display: none; }

}