:root{
    /* Colors */
    --background-color: #ffffff;
    --website-color: #000000 ;

    /* Fonts */
    --font-corporative: 'Bayon', 'sans-serif';
    --font-primary: 'Rubik', 'sans-serif';
    --font-secondary: 'Poppins', 'sans-serif';
    --font-secondary: 'Onest', 'sans-serif';
    --font-contrast: 'Rufina', 'serif';

    --navbar-heigth: 75px;
    --nav-option-font-size: 20px; 
    --nav-icon-toggler-width: 50px;
    --nav-icon-toggler-rotation-degs: 40deg;
    --scroll-down-inner-circle-width: 60px;
    --scroll-down-space-between-circles: 10px;
    --font-corporative-adjust-ratio-top: 0.52;
    --font-corporative-adjust-ratio-bottom: 0.59;
    --header-title-font-size: 300px;
    --header-subtitle-font-size: 30px;
    --separator-text-font-size: 150px;
    --separator-number-font-size: 250px;

}

/*   ______________________   GENERAL   ______________________   */

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Rubik', 'sans-serif';
    cursor: none;
}

body{
    background-color: var(--background-color);
}

.btn{
    background-color: transparent;
    border: none;
    outline: none;
}

.simple-line{
    height: 1px;
    border-bottom: 1px solid var(--website-color);
}

::-webkit-scrollbar{
    display: none;
}

.cursor-frame{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: exclusion;
}

.cursor{
    position: absolute;
    width: 20px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: white;
    mix-blend-mode: exclusion;
    transform: translate(-50%, -50%);
    transition: width 0.20s;
}

.cursor-hover{
    width: 45px;
}

/*   ______________________   ENTRANCE ANIMATION   ______________________   */

.entrance-scene{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 9999;
}

.entrance-curtine{
    width: 25%;
    height: 100%;
    background-color: var(--website-color);
    transition: transform 0.5s ease-in;
    transition-delay: 0.5s;
}

.entrance-isotype{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 10%;
    height: 50%;
    fill: transparent;
    stroke: white;
    stroke-width: 6px;
    stroke-dasharray: 505%;
    stroke-dashoffset: -505%;
    overflow: visible;
    filter: drop-shadow(0px 0px 0px white);
}

.trim-path-animation .entrance-isotype{
    stroke-dashoffset: 0%;
    transition: stroke-dashoffset 3s ease-out 0.5s
}

.show-bg-animation .entrance-isotype{
    fill: white;
    filter: drop-shadow(0px 0px 5px white);
    transition: fill 1s ease-in-out

}

.open-curtain .entrance-isotype{
    transform: translate(-50%, -50%) scale(15);
    filter: drop-shadow(0px 0px 0px white);
    opacity: 0;
    transition: 0.3s ease-in-out 1.5s
}

.open-curtain .entrance-curtine:nth-child(even){
    transform: translateY(-100%);
    transition: 0.5s ease-in-out 1.8s
}

.open-curtain .entrance-curtine:nth-child(odd){
    transform: translateY(100%);
    transition: 0.5s ease-in-out 1.8s
}

.header-logotype{
    width: 100%;
}

.header-logotype path{
    transform: translateY(100%);
    transition: 0.4s;
}

.header-logo-letter-in{
    transform: translateY(0%) !important;
}



/*   ______________________   NAVBAR   ______________________   */


.navbar-frame{
    position: sticky;
    top: 0;
    z-index: 20;
    background-color: var(--background-color);
    width: 100%;
    height: var(--navbar-heigth);
}

.navbar-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: var(--navbar-heigth);
    z-index: 50;
}

.nav-bottom-line {
    position: absolute;
    bottom: 0;
    width: 75%;
}

.abr-nav-logotype{
    display: flex;
    align-items: center;
    font-family: var(--font-corporative);
    font-size: 3.7rem;
}

.nav-options-container{
    display: flex;
    align-items: center;
}

.nav-option-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--nav-option-font-size);
    padding: 10px 20px;
}

.option-overflow-window{
    overflow: hidden;
    width: auto;
    height: var(--nav-option-font-size);
}

.nav-option-name-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    transition: 0.3s ease-out;
}

.nav-option-container:hover .nav-option-name-container{
    transform: translateY(calc(-100% + var(--nav-option-font-size) + 1.7px));
}

.nav-button-option{
    background-color: var(--website-color);
    color: var(--background-color);
}

.nav-toggler-btn{
    position: relative;
    width: var(--nav-icon-toggler-width);
}

.nav-toggler-line{
    position: absolute;
    width: var(--nav-icon-toggler-width);
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
    transform-origin: center;
}

.nav-toggler-line-top { top: 40%; }

.nav-toggler-line-bottom{ top: 60%; }

.movile-nav-shown .nav-toggler-line{ top: 50%; }

.movile-nav-shown .nav-toggler-line-top{
    transform: translate(-50%, -50%) rotate(var(--nav-icon-toggler-rotation-degs));
}
.movile-nav-shown .nav-toggler-line-bottom {
    transform: translate(-50%, -50%) rotate(calc(-1 * var(--nav-icon-toggler-rotation-degs)));
}

.movile-nav-shown .simple-line {
    border-bottom-color: white;
}

.movile-nav-shown .navbar-container * {
    color: white;
}

.movile-options-container, .movile-options-container-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0vh;
    transition: 0.7s cubic-bezier(0.77, 0.05, 0.92, 0.6);
    z-index: 40;
}

.movile-options-container-bg{
    background-color: lightgray;
    transition-delay: 0.1s;
}

.movile-options-container{
    background-color: var(--website-color);
    transition-delay: 0s;
}

.movile-nav-shown .movile-options-container-bg{
    transition-delay: 0s;
}

.movile-nav-shown .movile-options-container{
    transition-delay: 0.1s;
}

.movile-nav-shown .movile-options-container, .movile-nav-shown .movile-options-container-bg{
    height: 100vh;
    transition-timing-function: cubic-bezier(0.77, 0.05, 0.92, 0.6);
}

.nav-dark-mode.navbar-frame{
    background-color: var(--website-color);
}

.nav-transparent-mode.navbar-frame{
    background-color: rgba(0, 0, 0, 0);
}
.nav-dark-mode .abr-nav-logotype, .nav-dark-mode .nav-link-option, .nav-transparent-mode .abr-nav-logotype, .nav-transparent-mode .nav-link-option{ 
    color: var(--background-color);
}

.nav-dark-mode .nav-button-option, .nav-transparent-mode .nav-button-option{
    background-color: var(--background-color);
    color: var(--website-color);
}

.nav-dark-mode .simple-line, .nav-transparent-mode .simple-line{
    border-color: var(--background-color);
}

.navbar-frame, .nav-button-option{
    transition: background-color 0.5s;
}

.abr-nav-logotype, .nav-link-option, .nav-button-option{
    transition: color 0.5s;
}

.simple-line { 
    transition: border-color 0.5s;
}


/*   ______________________   HEADER   ______________________   */

.header{
    position: relative;
    height: calc(100vh - var(--navbar-heigth));
    overflow: hidden;
}

.header-isotype{
    position: absolute;
    top: 2px;
    height: 90%;
    right: 0;
    transform: translate(47%);
    fill: transparent;
    stroke-width: 1px;
    stroke: var(--website-color);
    overflow: visible;
}

.header-text-container{
    position: absolute;
    top: 20%;
    left: 10%;
    width: calc(var(--header-title-font-size) * 3);
    height: calc(var(--header-title-font-size) * 1.5);
}

.header-title{
    position: absolute;
    font-family: var(--font-corporative);
    font-size: var(--header-title-font-size);
    height: auto;
}

.title-street{
    top: calc( -1 * var(--header-title-font-size) * var(--font-corporative-adjust-ratio-top));
    left: 0;
}

.title-feed{
    bottom: calc( -1 * var(--header-title-font-size) * var(--font-corporative-adjust-ratio-bottom));
    right: 0;
}


.header-subtitle{
    position: absolute;
    font-family: var(--font-contrast);
    font-size: var(--header-subtitle-font-size);
    width: calc(var(--header-subtitle-font-size) * 5);
    bottom: 0;
    left: 0;
}

.scroll-down-container{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.scroll-down-outer-circle{    
    width: calc(var(--scroll-down-inner-circle-width) + var(--scroll-down-space-between-circles));
}

.scroll-down-inner-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--scroll-down-inner-circle-width);
}

.scroll-down-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid var(--website-color);
}

.scroll-down-arrow{
    transform: rotate(180deg);
    fill: var(--website-color);
    height: 50%;
}

.masked-container{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    mask-image: url(/media/mask-image.svg);
    mask-repeat: no-repeat;
    mask-size: 0px;
    background: #000000 !important;
    z-index: 5;
    color: white;
    height: 100vh;
    width: 100vw;
    transform: translate(-50%, 50%);
}

.mask-hovering{
    mask-size: 330px;
}

.masked-subtitle{
    top: 50%;
    left: 50%;
    height: min-content;
    transform: translateY(-100%);
}

.mask-activator{
    position: absolute;
    width: 200px;
    height: 200px;
    transform: translateY(-100%) scale(2);
}




/*   ______________________   ROLLBAR   ______________________   */

.rollbar-container{
    display: -webkit-box;
    width: 90vw;
    border-inline: 1px solid var(--website-color);
    padding-block: 10px;
    margin-inline: 5vw;
    overflow: hidden;
}

.rollbar-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.rollbar-item-container > *{
    margin-inline: 20px;
}

.rollbar-text {
    font-family: var(--font-primary);
    font-size: 50px;
    font-weight: 500;
    white-space: nowrap;
}

.rollbar-icon-separator{
    width: 25px;
}


/*   ______________________   SEPARATORS   ______________________   */


.separator-container{
    width: 100vw;
    padding-inline: 5vw;
    display: flex;
    flex-direction: column;
}

.separator-line{
    width: 100%;
}

.seprator-text{
    margin-inline: 4vw;
    color: transparent;
    -webkit-text-stroke-color: var(--website-color);
    -webkit-text-stroke-width: 1px;
    font-family: var(--font-corporative);
    font-weight: 400;
}

.separation-number-container{
    margin-inline: 25px;
    position: relative;
    transform: translateY(calc( -1 * var(--separator-number-font-size) * var(--font-corporative-adjust-ratio-top)));
    margin-top: 20px;
    width: auto;
    height: auto;
}

.separation-number {
    font-size: var(--separator-number-font-size);
}

.separation-name{
    font-size: var(--separator-text-font-size);
    transform: translateY(calc(var(--separator-text-font-size) * var(--font-corporative-adjust-ratio-bottom)));
    margin-bottom: 20px;
}

.separator-number-rigth .separation-name, .separator-number-left .separation-number-container{
    align-self: self-start;
}

.separator-number-rigth .separation-number-container, .separator-number-left .separation-name{
    align-self: self-end;
}

.separation-number-gradient{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, var(--background-color) 45%, rgba(0, 0, 0, 0) 55%)
}



/*   ______________________   SCROLLBAR   ______________________   */

.scrollbar-container{
    position: fixed;
    top: 50%;
    left: 50px;
    height: 100px;
    transform: translateY(-50%);
    z-index: 50;
    mix-blend-mode: difference;
}

.scrollbar-rail{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 100%;
    border-right: 1px solid var(--background-color);
    transform: translate(-50%, -50%);
}

.scrollbar-thumb{
    position: absolute;
    top: 0 ;
    left: 0;
    width: 10px;
    background-color: var(--background-color);
    border-radius: 50%;
    aspect-ratio: 1/1;
    transform: translate(-50%, -50%);
}

/*   ______________________   EXPLANATORY TEXT   ______________________   */

.explanatory-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.explanatory-line{
    position: relative;
    font-family: var(--font-primary);
    font-weight: 900;
    font-size: 5vw;
    width: 60vw;
    text-align: center;
}

.line-mask{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    opacity: 0.65;
}



/*   ______________________   ROLES   ______________________   */

.role-explainer-frame{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 500vh;
    margin-top: 300px;
    z-index: 2;
}

.role-explainer-container-overflow{
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    height: 85vh;
    width: 85vw;
    border-radius: 30px;
    overflow: hidden;
    background: linear-gradient(130deg, #323232 0%, black 100%);
}

.role-explainer-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100vw;
}

.role-description-text{
    position: absolute;
    top: 15%;
    right: 9%;
    color: gray;
    font-family: var(--font-secondary);
    font-size: 17px;
    width: 400px;
    text-align: center;
}

.role-text-rider{
    color: white;
}

.role-img-container{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 100%;
    width: auto;
    border-radius: 0px 20px 0px 0px;
    overflow: hidden;
}

.role-img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: grayscale(1) brightness(0.3);
}

.role-name{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-family: var(--font-primary);
    font-size: 70px;
    font-weight: 700;
    text-align: center;
}


/*   ______________________   DATA-NUMBERS   ______________________   */


.data-number-frame{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-block: 400px 100px;
    padding-inline: 50px;
}

.data-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    gap: 50px;
}

.data-number{
    font-size: 180px;
    font-weight: 900;
}

.data-description{
    font-size: 20px;
    font-weight: 700;
    color: gray;
}





/*   ______________________   FAQ   ______________________   */


.faq-frame{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 105vh;
    background-color: var(--website-color);
    overflow: hidden;
}

.faq-img-container{
    position: relative;
    display: flex;
    align-items: end;
    width: 45vw;
    height: 100%;
}

.faq-img{
    object-fit: cover;
    width: 100%;
    height: 1;
    filter: saturate(0) contrast(1.1);
    transform: translateY(0px);
}

.faq-content-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55vw;
    height: 100%;
    color: white;
    overflow: hidden;
}

.faq-options-container{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 10%;
    left: 50%;
    gap: 50px;
    width: auto;
    height: auto;
    transform: translateX(-50%);
}


.faq-option-chatbot-container{
    position: relative;
}

.faq-option-chatbot-container, .faq-option-faq-container{
    text-align: center;
}

.faq-option-faq, .faq-option-chatbot-container{
    font-size: 30px;
    width: 325px;
    text-align: center;
    padding: 10px;
}

.faq-option-chatbot{
    width: 100%;
    line-height: 27px;
}

.faq-ai-logo{
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    transform: translate(50%, -50%);
}

.faq-option-selector{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 325px;
    border-color: white;
    transition: 0.7s;

}

.chatbot-active .faq-option-selector{
    left: 100%;
    transform: translateX(-100%);
}

.faq-question{
    font-family: var(--font-secondary);
    font-size: 19px;
}

.faq-questions-frame{
    position: absolute;
    top: 25vh;
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    padding-inline: 12%;
    transition: 0.5s;
}

.chatbot-active .faq-questions-frame{
    transform: translateX(-100%);
}

.chatbot-active .faq-chatbot-frame{
    transform: translateX(-100%);
}

.faq-question-aswer-container{
    font-size: 20px;
}

.faq-question-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    border-bottom: 1px solid white;
    gap: 50px;
}

.faq-number-question-container {
    display: flex;
    align-items: baseline;
    gap: 20px;
}

.faq-number{
    font-family: var(--font-contrast);
    font-size: 50px;
    width: 80px;
}

.faq-caret{
    width: 20px;
    transition: 0.5s;
    transform-origin: center;
}

.faq-answer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.question-shown .faq-answer-container{
    height: 200px;
}

.faq-answer{
    font-family: 'Onest';
    font-size: 15px;
    width: 80%;
}

.question-shown .faq-caret{
    transform: rotate(-60deg);
}

.faq-chatbot-frame{
    display: flex;
    flex-direction: column;
    justify-content: end;
    transform: translateX(100%);
    position: absolute;
    top: 25vh;
    height: 60vh;
    color: white;
    width: 100%;
    padding-inline: 12%;
    overflow: hidden;
    transition: 0.5s;
    gap: 100px;
}

.chatbot-active .faq-chatbot-frame{
    transform: translate(0);
}

.faq-chatbot-messages-frame{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.faq-message{
    position: relative;
    display: inline;
    max-width: 60%;
    margin: 30px 10px;
}

.user-message{
    align-self: end;
    text-align: end;
    color: rgb(197, 197, 197);
}

.message-waiting-response .chatbot-waiting-indicator::after{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: white;
    animation: chatbotWaiting 1s infinite;
}

.faq-user-input{
    display: flex;
    width: 100%;
    
}

.chatbot-text-input{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    padding: 5px 15px;
    width: 100%;
    font-size: 18px;
    color: white;
}

.chatbot-send-message{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 5px 15px;
    font-size: 18px;
}




/*   ______________________   CALL TO ACTION   ______________________   */


.call-to-action-frame{
    position: relative;
    height: 400vh;
    margin-top: 250px;
    background-color: var(--background-color);
}

.call-to-action-container{
    position: sticky;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
 
}

.call-to-action-isotype{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: '-50% -50%';
    scale: 50;
    width: 30vw;
    position: absolute;
    height: 90%;
    fill: transparent;
    stroke-width: 1px;
    stroke: var(--website-color);
    overflow: visible;
}

.call-to-action-text{
    font-size: 60px;
    font-weight: 700;
}

.call-to-action-text-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
}



/*   ______________________   FOOTER   ______________________   */


.footer {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: var(--website-color);
    transform: translateY(-50%);
    z-index: -1;
}

.footer-message {
    position: absolute;
    color: white;
    font-size: 70px;
    font-weight: 700;
    border-bottom: 1px solid white;
    width: 85vw;
    padding-inline: 20px;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.footer-links-frame{
    position: absolute;
    top: 45%;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.footer-links-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-inline: 40px;
}

.footer-links{
    display: flex;
    flex-direction: column;
}

.footer-links-title{
    color: white;
    font-weight: 600;
}

.footer-link{
    color: gray;
}

.footer-links-container:nth-child(2){
    text-align: end;
}

.footer-logo{
    position: absolute;
    font-family: var(--font-corporative);
    color: white;
    bottom: 0;
    left: 0;
    font-size: 23.65vw;
    transform: translateY(calc(25vw * var(--font-corporative-adjust-ratio-bottom)));
}




@media only screen and (max-width: 768px){ 
    
    :root {
        --header-title-font-size: 120px;
        --header-subtitle-font-size: 12px;
        --separator-text-font-size: 75px;
        --separator-number-font-size: 100px;
    }
    .navbar-container > * { margin-inline: 20px; }
    .nav-options-container { display: none; }
    .nav-toggler-btn { display: flex; }
    .cursor-frame { display: none; }

    .header-isotype { 
        top: 2%; 
        height: 50%; 
    }

    .header-text-container {
        top: 55%;
        left: 5%;
        width: calc(var(--header-title-font-size)* 2.4);
    }

    .title-feed {left: 0; }
    .header-subtitle{
        text-align: end;
        left: calc(100% - var(--header-subtitle-font-size) * 5);
    }

    .scroll-down-container { display: none; }
    .scrollbar-container { display: none; }
    .rollbar-container {
        position: absolute;
        bottom: 0;
        border: none;
        width: 100vw;
        margin: 0;
    }
    .rollbar-text{font-size: 25px;}
    .rollbar-icon-separator{width: 15px;}

}


@media only screen and (min-width: 768px) and (max-width: 1200px){ 

    .navbar-container > * { margin-inline: 40px; }
    .nav-options-container { display: flex;  gap: 0px; }
    .nav-toggler-btn{ display: none; }
    .scroll-down-container { display: none; }
    .scrollbar-container { display: none; }


}


@media only screen and (min-width: 1200px){ 

    .navbar-container > * { margin-inline: 70px; }
    .nav-options-container { display: flex; gap: 35px; }
    .nav-toggler-btn{ display: none; }

}

@keyframes chatbotWaiting {
    0% {scale: 0.9}
    50% {scale: 1.2}
    100% {scale: 0.9;}
}