:root{
    /* Colors */
    --background-color: #ffffff;
    --website-color: #000000 ;
    --error-color: #ff5252;
    --disabled-color: #acacac;

    /* Fonts */
    --font-corporative: 'Bayon', 'sans-serif';
    --font-primary: 'Rubik', 'sans-serif';
    --font-secondary: 'Poppins', 'sans-serif';
    --font-terciary: 'Onest', 'sans-serif';
    --font-contrast: 'Rufina', 'serif';

    /* Other */
    --navbar-heigth: 75px;
    --nav-option-font-size: 20px; 
    --nav-icon-toggler-width: 50px;
    --nav-icon-toggler-rotation-degs: 40deg;

    --header-title-font-size: clamp(150px, 16vw, 300px);
    --font-corporative-adjust-ratio-top: 0.52;
    --font-corporative-adjust-ratio-bottom: 0.59;
    --scroll-down-inner-circle-width: 60px;
    --scroll-down-space-between-circles: 10px;

    --separator-text-font-size: 150px;
    --separator-number-font-size: 250px;

    --faq-content-width: 55vw;
    --faq-option-items-width: 45%;

    --who-img-frame-width: 60vw;
    --who-img-container-width: clamp(70vh, 40vw, 100vh);
    --who-name-font-size: 10vw;
    --who-img-aspect-ratio: 1 / 1;

    --map-frame-top: 15vh;
    --map-width: 70vw;
    --map-suggestion-container-top: 25vh;
    --map-suggestion-container-dinamic-top: 65dvh;
}

/*   ______________________   GENERAL   ______________________   */

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Rubik', 'sans-serif';
    cursor: none;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--background-color);
}

body.scroll-block{
    overflow: hidden;
}

a{
    color: inherit;
    text-decoration: none;
}

input, textarea{
    border-radius: 0;
}

.btn{
    background-color: transparent;
    border: none;
    outline: none;
}

.simple-line{
    height: 1px;
    border-bottom: 1px solid var(--website-color);
}

::-webkit-scrollbar{
    display: none;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.accesibility-not-visible{
    display: none;
}


/*   ______________________   CURSOR   ______________________   */


.cursor-frame {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: exclusion;
    transition: 0s;
    transition-delay: 0.2s;

}

.cursor, .contact-me-cursor{
    position: absolute;
    width: 20px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: white;
    mix-blend-mode: exclusion;
    transform: translate(-25%, -25%);
    transition: width 0.20s;
}

.contact-me-cursor{
    display: -webkit-box;
    width: 0;
    overflow: hidden;
    transform: translate(-50%, -50%);
    background-color: var(--website-color);
    color: var(--background-color);
}

.contact-me-rollbar-frame{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.contact-me-rollbar-container * {
    margin-left: 10px;
}

.contact-me-rollbar-container, .contact-me-rollbar-frame{
    display: -webkit-box;
    font-size: 30px;
    font-weight: 700;
}

.cursor-hover .cursor{
    width: 45px;
}

.cursor-hovering-contact-me .cursor{
    width: 0;
}

.cursor-hovering-contact-me .contact-me-cursor{
    width: 120px;
    transition-delay: 0.20s;
}

.cursor-hovering-contact-me.cursor-frame{
    mix-blend-mode: normal;
    transition-delay: mix-blend-mode 0.2s;
}

/*   ______________________   ENTRANCE ANIMATION   ______________________   */

.entrance-scene{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 9999;
}

.entrance-curtine{
    width: 25%;
    height: 100%;
    background-color: var(--website-color);
    transition: transform 0.5s ease-in;
    transition-delay: 0.5s;
}

.entrance-isotype{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    height: 20%;
    fill: transparent;
    stroke: white;
    stroke-width: 6px;
    stroke-dasharray: 505%;
    stroke-dashoffset: -505%;
    overflow: visible;
    filter: drop-shadow(0px 0px 0px white);
}

.trim-path-animation .entrance-isotype{
    stroke-dashoffset: 0%;
    transition: stroke-dashoffset 3s ease-out 0.5s
}

.show-bg-animation .entrance-isotype{
    fill: white;
    filter: drop-shadow(0px 0px 5px white);
    transition: 1s ease-in-out
}

.open-curtain .entrance-isotype{
    transform: translate(-50%, -50%) scale(15);
    filter: drop-shadow(0px 0px 0px white);
    opacity: 0;
    transition: 0.3s ease-in-out 1.5s
}

.open-curtain .entrance-curtine:nth-child(even){
    transform: translateY(-100%);
    transition: 0.5s ease-in-out 1.8s
}

.open-curtain .entrance-curtine:nth-child(odd){
    transform: translateY(100%);
    transition: 0.5s ease-in-out 1.8s
}

.header-logotype{
    width: 100%;
}

.header-logotype path{
    transform: translateY(100%);
    transition: 0.4s;
}

.header-logo-letter-in{
    transform: translateY(0%) !important;
}



/*   ______________________   NAVBAR   ______________________   */


.navbar-frame{
    position: sticky;
    top: 0;
    z-index: 20;
    background-color: var(--background-color);
    width: 100%;
    height: var(--navbar-heigth);
}

.navbar-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: var(--navbar-heigth);
    z-index: 50;
}

.nav-bottom-line {
    position: absolute;
    bottom: 0;
    width: 75%;
}

.abr-nav-logotype{
    font-family: var(--font-corporative);
    font-size: 60px;
}

.nav-options-container{
    display: flex;
    align-items: center;
}

.nav-option-container{
    font-size: var(--nav-option-font-size);
    padding: 10px 20px;
}

.option-overflow-window{
    overflow: hidden;
    width: auto;
    height: var(--nav-option-font-size);
}

.nav-option-name-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    transition: 0.3s ease-out;
}

.nav-option-container:hover .nav-option-name-container{
    transform: translateY(calc(-100% + var(--nav-option-font-size) + 1.7px));
}

.nav-button-option{
    background-color: var(--website-color);
    color: var(--background-color);
}

.nav-toggler-btn{
    position: relative;
    width: var(--nav-icon-toggler-width);
}

.nav-toggler-line{
    position: absolute;
    width: var(--nav-icon-toggler-width);
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.5s;
    transform-origin: center;
}

.nav-toggler-line-top { top: 40%; }

.nav-toggler-line-bottom{ top: 60%; }

.movile-nav-shown .nav-toggler-line{ top: 50%; }

.movile-nav-shown .nav-toggler-line-top{
    transform: translate(-50%, -50%) rotate(var(--nav-icon-toggler-rotation-degs));
}
.movile-nav-shown .nav-toggler-line-bottom {
    transform: translate(-50%, -50%) rotate(calc(-1 * var(--nav-icon-toggler-rotation-degs)));
}

.movile-nav-shown .nav-bottom-line, .movile-nav-shown .nav-toggler-btn .simple-line{
    border-bottom-color: var(--background-color);
}

.movile-nav-shown .navbar-container * {
    color: var(--background-color);
}

.movile-options-container, .movile-options-container-bg{
    position: absolute;
    top: 0;
    width: 100%;
    height: 0vh;
    transition: 0.7s cubic-bezier(0.77, 0.05, 0.92, 0.6);
    z-index: 40;
}

.movile-options-container-bg{
    background-color: lightgray;
    transition-delay: 0.1s;
}

.movile-options-container{
    display: flex;
    background-color: var(--website-color);
    transition-delay: 0s;
    overflow: hidden;
}

.movile-nav-content-container{
    position: absolute;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: var(--navbar-heigth);
    left: 50%;
    width: 75vw;
    height: calc(100dvh - var(--navbar-heigth));
    color: var(--background-color);
    gap: 80px;
    overflow: hidden;
    transform: translateX(-50%);
}

.movile-nav-content-container .simple-line {
    border-color: var(--background-color);
}

.movile-nav-landing-parts-frame{
    display: flex; 
    flex-direction: column;
    width: 100%;
    gap: 20px;
}
.movile-nav-link-to-app-frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.movile-nav-langing-part-name{
    font-size: 50px;
    font-family: var(--font-terciary);
    font-weight: 700;
    margin-left: 10px;
}

.movile-nav-call-to-action{
    text-align: center;
}

.movile-nav-link-to-app-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    width: min-content;
    color: var(--website-color);
    padding: 10px 20px;
}

.movile-nav-option-name{
    white-space: nowrap;
    font-weight: 600;
    font-size: 20px;
}

.movile-nav-shown .movile-options-container-bg{
    transition-delay: 0s;
}

.movile-nav-shown .movile-options-container{
    transition-delay: 0.1s;
}

.movile-nav-shown .movile-options-container, .movile-nav-shown .movile-options-container-bg{
    height: 100vh;
    transition-timing-function: cubic-bezier(0.77, 0.05, 0.92, 0.6);
}

.nav-dark-mode.navbar-frame{
    background-color: var(--website-color);
}

.nav-transparent-mode.navbar-frame{
    background-color: rgba(0, 0, 0, 0);
}
.nav-dark-mode .abr-nav-logotype, .nav-dark-mode .nav-link-option, .nav-transparent-mode .abr-nav-logotype, .nav-transparent-mode .nav-link-option{ 
    color: var(--background-color);
}

.nav-dark-mode .nav-button-option, .nav-transparent-mode .nav-button-option, .nav-dark-mode.nav-button-option{
    background-color: var(--background-color);
    color: var(--website-color);
}

.nav-dark-mode .simple-line, .nav-transparent-mode .simple-line{
    border-color: var(--background-color);
}

.navbar-frame, .nav-button-option{
    transition: background-color 0.5s;
}

.abr-nav-logotype, .nav-link-option, .nav-button-option{
    transition: color 0.5s;
}

.simple-line { 
    transition: 0.5s;
}


/*   ______________________   HEADER   ______________________   */

.header{
    position: relative;
    height: calc(100vh - var(--navbar-heigth));
    overflow: hidden;
}

.header-isotype{
    position: absolute;
    top: 2px;
    height: 90%;
    right: 0;
    transform: translate(47%);
    fill: transparent;
    stroke-width: 1px;
    stroke: var(--website-color);
    overflow: visible;
}

.header-text-container{
    position: absolute;
    top: 45%;
    left: 10%;
    transform: translateY(-50%);
    font-size: var(--header-title-font-size);
    width: calc(var(--header-title-font-size) * 3);
    height: calc(var(--header-title-font-size) * 1.5);
}

.header-title{
    position: absolute;
    font-family: var(--font-corporative);
    font-size: 1em;
    height: auto;
}

.title-street{
    top: calc( -1 * 1em * var(--font-corporative-adjust-ratio-top));
}

.title-feed{
    bottom: calc( -1 * 1em * var(--font-corporative-adjust-ratio-bottom));
    right: 0;
}


.header-subtitle{
    position: absolute;
    font-family: var(--font-contrast);
    font-size: 0.1em;
    width: calc(1em * 5);
    bottom: 0;
}

.scroll-down-container{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.scroll-down-outer-circle{    
    width: calc(var(--scroll-down-inner-circle-width) + var(--scroll-down-space-between-circles));
}

.scroll-down-inner-circle{
    width: var(--scroll-down-inner-circle-width);
}

.scroll-down-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid var(--website-color);
}

.scroll-down-arrow{
    transform: rotate(180deg);
    fill: var(--website-color);
    height: 50%;
}

.masked-container{
    position: absolute;
    bottom: 0;
    mask-image: url(../media/mask-image.svg);
    mask-size: 0px;
    mask-repeat: no-repeat;
    background: var(--website-color);
    color: var(--background-color);
    z-index: 5;
    height: 100vh;
    width: 100vw;
    transform: translate(-50%, 50%);
}

.masked-subtitle{
    top: 50%;
    left: 50%;
    height: min-content;
    transform: translateY(-100%);
}

.mask-activator{
    position: absolute;
    width: 200px;
    aspect-ratio: 1/1;
    transform: translateY(-100%) scale(2);
}



/*   ______________________   INTERACTIVE MAP   ______________________   */


.marker-map-frame{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    z-index: 50;
    transition: background-color 0.5s;
    pointer-events: none;
}

.map-active.marker-map-frame{
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: all;
}

.marker-map-container{
    position: absolute;
    bottom: calc(2vw + (100vh - 100dvh));
    right: 2vw;
    width: clamp(50px, 4vw, 150px);
    aspect-ratio: 1/1;
}

.marker-map-icon-btn, .marker-map-icon-hihglighter{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--background-color);
    border: 1px solid var(--website-color);
    font-size: clamp(50px, 4vw, 150px);
    width: clamp(50px, 4vw, 150px);
    border-radius: 50%;
    aspect-ratio: 1/1;
    transform: translate(-50%, -50%);
    pointer-events: all; 
}

.marker-map-icon-hihglighter{
    background-color: transparent;
    border-color: white;
    width: 1.5em;
    opacity: 0;
}

.marker-map-icon{
    width: 75%;
    fill: none;
    stroke: var(--website-color);
    stroke-width: 1.5px;
}

.interactive-map-frame{
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100vw;
    height: calc(100vh - var(--map-frame-top));
    transition: top 0.5s;
    background-color: var(--background-color);
    border-top: 1px solid black;
    font-size: clamp(15px, 3vw, 20px);
}

.interactive-map-content-frame{
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100dvh - var(--map-frame-top));
}

.map-active .interactive-map-frame{
    top: var(--map-frame-top);
}

.map-handle-container{
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translate(-50%, -0.5px);
    height: 20px;
    width: 30vw;
    background-color: var(--background-color);
    border-radius: 0 0 10px 10px;
    border: 1px solid var(--website-color);
    border-top: none;
}

.map-handle{
    width: 90%;
    height: 30%;
    background-color: #c9c9c9;
    border-radius: 400px;
    pointer-events: none;
}

.map-active .map-handle-container{
    pointer-events: all;
}

.map-user-frame{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: clamp(400px, calc(100vw - var(--map-width)), 100vw) ;
    gap: 100px;
}

.search-box-input-user-container{
    position: absolute;
    left: 50%;
    top: 15%;
    width: 75%;
    transform: translateX(-50%);
}

.search-box-input-user, .num-homeless-input{
    position: relative;
    width: 100%;
    outline: none;
    font-size: 20px;
    border-width: 0px 0px 2px 0px;
    padding-left: 10px;
    border-color: #c7c7c7;
    transition: border-color 0.5s;
}

.search-box-input-user:focus, .num-homeless-input:focus{
    border-color: var(--website-color);

}

.nav-button-option:disabled {
    background-color: #727272;
    pointer-events: none;
}

.nav-button-option:disabled .nav-option-name-container{
    transform: none;
}

.map-markers-options-frame{
    position: absolute;
    top: 42vh;
    height: calc(100dvh - var(--map-frame-top) - 42vh);
    left: 0;
    width: 100%;
}


.map-markers-options-container{
    position: absolute;
    top: calc(100dvh - var(--map-frame-top) - var(--map-suggestion-container-dinamic-top));
    height: calc(100dvh - var(--map-frame-top) - var(--map-suggestion-container-top));
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 45px;
}

.search-geolocalitation-btn{
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid var(--website-color);
    padding-block: 10px;
}

.search-geolocalitation-btn, .search-box-suggestion-container{
    width: 100%;
    padding: 10px;
    transition: background-color 0.3s;
}

.search-geolocalitation-btn:not(.search-box-option-selected,):hover, .search-box-suggestion-container:hover{
    background-color: #f5f5f5;
}

.search-box-option-selected{
    background-color: #dfdfdf;

}

.search-geolocalitation-icon{
    height: 40px;
    overflow: visible;
}
.search-icon-stroke{
    fill: transparent;
    stroke: var(--website-color);
    stroke-width: 1px;
}

.search-icon-fill{
    fill: var(--website-color);
}

.geolocation-not-available{
    color: var(--disabled-color);
    border-color: var(--disabled-color);
    pointer-events: none;
}

.geolocation-not-available .search-icon-stroke{
    stroke: var(--disabled-color);
}

.geolocation-not-available .search-icon-fill{
    fill: var(--disabled-color);
}

.search-geolocalitation-text{
    display: flex;
    flex-direction: column;
}

.search-box-suggestions-frame{
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 20vh;
}

.search-box-suggestion-title{
    width: 100%;
    /* color: #a8a8a8; */
    color:#757575;
}

.search-box-suggestions-container{
    width: 100%;
    height: 100%;
    overflow: auto;
}

.search-box-suggestion-container:not(:last-of-type){
    border-bottom: 1px solid var(--website-color);
}

.search-box-name, .search-geolocalitation-primary-text{
    font-family: var(--font-primary);
    font-size: 1em;
    font-weight: 500;
}

.search-box-address, .search-geolocalitation-secondary-text{
    font-family: var(--font-secondary);
    font-size: 0.7em;
    /* color:#a8a8a8; */
    color:#757575;
}

.mapbox-map-container{
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--map-width);
    height: 100%;
}



.mapboxgl-control-container{
    display: none !important;
}

.mapboxgl-ctrl-logo::after{
    content: 'Logo Mapbox'
}


.confirm-marker-btn, .place-marker-btn{
    width: 100%;
}

.num-homeless-input{
    font-size: 1.2em;
    text-align: end;
    padding-right: 10px;
}

.num-homeless-input::placeholder{
    text-align: start;
}

.place-marker-btn .nav-option-name{
    font-size: 0.9em;
}

.map-pointer-container, #mapbox-map{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.map-pointer-container{
    pointer-events: none;
}

.map-pointer{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.1px;
    overflow: visible;
    transform: rotateX(25deg) translate(-50%, -50%);
    transform-origin: top;
    /* background-color: red; */
}

canvas{
    /* opacity: 0 */
}

.map-pointer-item{
    transition: transform 0.3s;
}

.map-pointer-outter-circle{
    fill: #000000;
}

.map-pointer-inner-circle {
    fill: white;
    stroke: #000000;
    stroke-width: 1px;
}

.map-pointer-top{
    transform: translateY(-8px);
}

.map-pointer-boder{
    fill: #000000;
}

.map-pointer-shadow{
    fill: rgb(0, 0, 0);
    opacity: 0.4;
    filter: blur(2px);
    width: 50px;
}

.modal-backdrop{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0, 0);
    pointer-events: none;
    transition: 0.3s;
}

.modal-shown.modal-backdrop{
    background-color: rgb(0, 0, 0, 0.3);
    pointer-events: all;
}

.modal-frame{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    opacity: 0;
    transform: scale(0.8);
    pointer-events: none;
    transition: 0.3s;
    padding: 50px;
    border-inline: 1px solid black;
    font-size: clamp(15px, 1.1vw, 200px);
    gap: 50px;
}

.modal-shown .modal-frame{
    transform: scale(1);
    opacity: 1;
    pointer-events: all;
}

.modal-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.modal-title{
    font-family: var(--font-secondary);
    font-size: 2.5em;
    font-weight: 900;
    text-align: center;
}

.modal-subtitle{
    font-family: var(--font-secondary);
    font-size: 1em;
    width: 85%;
}

.modal-content-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.modal-location-info{
    color: gray;
    font-size: 0.8em;
}

.modal-location-container{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    border-right: 1px solid gray;
}

.modal-input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.modal-location-container, .modal-input-container{
    width: 50%;
    padding: 30px;
}


/*   ______________________   ROLLBAR   ______________________   */

.rollbar-container{
    display: -webkit-box;
    border-inline: 1px solid var(--website-color);
    padding-block: 10px;
    width: 90vw;
    margin-inline: 5vw;
    overflow: hidden;
}

.rollbar-item-container {
    overflow: hidden;
}

.rollbar-item-container > *{
    margin-inline: 20px;
}

.rollbar-text {
    font-family: var(--font-primary);
    font-size: 50px;
    font-weight: 500;
    white-space: nowrap;
}

.rollbar-icon-separator{
    width: 25px;
}


/*   ______________________   SEPARATORS   ______________________   */


.separator-container{
    width: 100vw;
    padding-inline: 5vw;
    display: flex;
    flex-direction: column;
}

.separator-line{
    width: 100%;
}

.seprator-text{
    margin-inline: 4vw;
    color: transparent;
    -webkit-text-stroke-color: var(--website-color);
    -webkit-text-stroke-width: 1px;
    font-family: var(--font-corporative);
    font-weight: 400;
}

.separation-number-container{
    margin-inline: 25px;
    position: relative;
    transform: translateY(calc( -1 * var(--separator-number-font-size) * var(--font-corporative-adjust-ratio-top)));
    margin-top: 20px;
    width: auto;
    height: auto;
}

.separation-number {
    font-size: var(--separator-number-font-size);
}

.separation-name{
    font-size: var(--separator-text-font-size);
    transform: translateY(calc(var(--separator-text-font-size) * var(--font-corporative-adjust-ratio-bottom)));
    margin-bottom: 20px;
}

.separator-number-rigth .separation-name, .separator-number-left .separation-number-container{
    align-self: self-start;
}

.separator-number-rigth .separation-number-container, .separator-number-left .separation-name{
    align-self: self-end;
}

.separation-number-gradient{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, var(--background-color) 45%, transparent 55%)
}



/*   ______________________   SCROLLBAR   ______________________   */

.scrollbar-container{
    position: fixed;
    top: 50%;
    left: 2.5vw;
    height: 100px;
    transform: translateY(-50%);
    z-index: 50;
    mix-blend-mode: exclusion;
}

.scrollbar-rail{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    border-right: 1px solid var(--background-color);
    transform: translate(-50%, -50%);
}

.scrollbar-thumb{
    position: absolute;
    top: 0;
    width: 10px;
    background-color: var(--background-color);
    border-radius: 50%;
    aspect-ratio: 1/1;
    transform: translate(-50%, -50%);
}

/*   ______________________   EXPLANATORY TEXT   ______________________   */

.explanatory-text-container{
    flex-direction: column;
}

.explanatory-line{
    position: relative;
    font-family: var(--font-primary);
    font-weight: 900;
    font-size: 6vw;
    width: 100vw;
    white-space: nowrap;
}

.line-mask{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    opacity: 0.65;
}



/*   ______________________   ROLES   ______________________   */

.role-explainer-frame{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 800vh;
    margin-top: 300px;
    z-index: 2;
}

.role-explainer-container-overflow{
    position: sticky;
    top: 0;
    height: 85vh;
    width: 85vw;
    border-radius: 30px;
    overflow: hidden;
    background: linear-gradient(130deg, #323232 0%, black 100%);
}

.role-explainer-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.role-description-text{
    position: absolute;
    top: 15%;
    right: 9%;
    color: gray;
    font-family: var(--font-secondary);
    font-size: 17px;
    width: 400px;
    text-align: center;
}

.role-text-rider{
    color: white;
}

.role-img-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}

.role-img-container:not(:first-child) {
    top: 100vh;
    left: 50%;
    width: 85vw;
    height: 85vh;
    transform: translateX(-50%);
}


.role-img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: grayscale(1) brightness(0.3);
}

.role-name-frame-overflow{
    --font-size : clamp(50px, 5vw, 10vw);
    position: absolute;
    top: calc(100dvh - clamp(50px, 5vw, 10vw));
    color: white;
    font-family: var(--font-primary);
    font-size: var(--font-size);
    height: var(--font-size);
    overflow: hidden;
    font-weight: 700;
}

.role-name-container {
    display: flex;
    flex-direction: column;
}



/*   ______________________   DATA-NUMBERS   ______________________   */


.data-number-frame{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-block: 400px 100px;
    padding-inline: 50px;
    font-size: clamp(100px, 10vw, 200px);
    gap: 0.5em;
    overflow: hidden;
}

.data-number-frame.error-fetching{
    display: none;
}

.data-container{
    flex-direction: column;
    width: 500px;
    gap: 0.2em;
    opacity: 0;
    transform: translateY(100%);
    transition: 0.5s;
}

.data-container-shown{
    opacity: 1;
    transform: translateY(0%);
}

.data-number{
    font-size: 1em;
    font-weight: 900;
}

.data-description{
    font-size: clamp(15px, 0.1em, 1em);
    font-weight: 700;
    color: rgb(141, 141, 141);
}


/*   ______________________   FAQ   ______________________   */


.faq-frame{
    width: 100vw;
    height: 105vh;
    background-color: var(--website-color);
    overflow: hidden;
}

.faq-img-container{
    position: relative;
    display: flex;
    align-items: end;
    width: calc(100vw - var(--faq-content-width));
    height: 100%;
}

.faq-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: saturate(0) contrast(1.1);
}

.faq-content-container{
    position: relative;
    width: var(--faq-content-width);
    height: 100%;
    color: var(--background-color);
    overflow: hidden;
}

.faq-options-container{
    justify-content: space-between;
    position: absolute;
    top: 10%;
    left: 50%;
    gap: 50px;
    width: 65%;
    transform: translateX(-50%);
}

.faq-option-faq, .faq-option-chatbot-container{
    font-size: clamp(17px, 1.5vw, 100vw);
    width: var(--faq-option-items-width);
    text-align: center;
    padding: 10px;
}

.faq-option-chatbot-container{
    position: relative;
}

.faq-option-chatbot{
    width: 100%;
    line-height: 0.9;
}

.faq-ai-logo{
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    transform: translate(50%, -50%);
    fill: var(--background-color);
}

.faq-option-selector{
    position: absolute;
    bottom: 0;
    left: 0;
    width: var(--faq-option-items-width);
    border-color: var(--background-color);
    transition: 0.7s;
}

.chatbot-active .faq-option-selector{
    left: 100%;
    transform: translateX(-100%);
}


.faq-questions-frame{
    position: absolute;
    top: 22vh;
    display: flex;
    flex-direction: column;
    padding-inline: 12%;
    transition: 0.5s;
}

.faq-question-aswer-container, .faq-chatbot-frame{
    font-size: clamp(15px, 0.97vw, 50px);
}

.faq-question-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    border-bottom: 1px solid white;
    gap: 50px;
}

.faq-number-question-container {
    display: flex;
    align-items: last baseline;
    gap: 20px;
}

.faq-number{
    font-family: var(--font-contrast);
    font-size: 2.8em;
    width: 90px;
}

.faq-question{
    font-family: var(--font-secondary);
    font-size: 1em;
}

.faq-caret{
    width: 20px;
    min-width: 20px;
    aspect-ratio: 1/1;
    transition: 0.5s;
    transform-origin: center;
    fill: var(--background-color)
}

.faq-answer-container {
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.faq-answer{
    font-family: var(--font-terciary);
    font-size: 0.75em;
    width: 80%;
}

.question-shown .faq-answer-container{
    height: 230px;
}

.question-shown .faq-caret{
    transform: rotate(-60deg);
}

.chatbot-active .faq-questions-frame{
    transform: translateX(-100%);
}

.chatbot-active .faq-chatbot-frame{
    transform: translate(0);
}

.faq-chatbot-frame{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(100%);
    top: 23vh;
    height: 68vh;
    width: 100%;
    padding-inline: 12%;
    overflow: hidden;
    transition: 0.5s;
}

.faq-chatbot-messages-frame{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: 45vh;
    overflow: auto;
}

.faq-message{
    position: relative;
    display: inline;
    max-width: 60%;
    margin: 2em 0.7em;
    font-size: 0.9em;
    white-space: pre-wrap;
}

.error-message{
    width: 100% !important;
}

.user-message{
    align-self: end;
    text-align: end;
    color: rgb(197, 197, 197);
}

.error-message{
    max-width: 70%;
    color: var(--error-color);
    border-bottom: 1px solid var(--error-color);
    text-align: center;
    align-self: center;
    padding: 0px 20px;
}

.message-waiting-response .chatbot-waiting-indicator{
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: white;
    animation: chatbotWaiting 1s infinite;
}

.faq-user-input{
    display: flex;
    width: 100%;
    
}

.chatbot-text-input{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    padding: 5px 15px;
    width: 100%;
    height: min-content;
    min-height: 2em;
    max-height: 6em;
    font-size: 18px;
    color: white;
    resize: none;
}

.chatbot-text-input::placeholder{
    text-align: bottom;
}

.chatbot-send-message-container{
    display: flex;
    align-items: end;
    height: 100%;
}

.chatbot-send-message{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 5px 15px;
    font-size: 20px;
}

.chatbot-send-message-icon{
    transition: 0s;
}

.message-invalid{
    pointer-events: none;
    color: rgb(70, 70, 70);
    transition: 0.2s;
}



/*   ______________________   WHO   ______________________   */


.who-frame{
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.who-dev-info-container{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: var(--who-img-frame-width);
}

.who-img-frame{
    position: relative;
    height: var(--who-img-container-width);
    aspect-ratio: var(--who-img-aspect-ratio);
}

.who-img-outer-border{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--website-color);
    aspect-ratio: var(--who-img-aspect-ratio);
    background-color: var(--background-color);
    transition: 0.3s;
}

.who-img-container{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 95%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    aspect-ratio: var(--who-img-aspect-ratio);
    transition: 0.3s;
}

.who-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: grayscale(1) brightness(0.9);
    opacity: 0;
    transition: opacity 1s;
}

.dev-img-shown .who-img{
    opacity: 1;
}

.who-info-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--who-img-container-width);
}

.who-dev-info{
    font-size: clamp(13px, 1.2vw, 50px);
    font-weight: 700;
    color: #757575;
    transition: 0.3s;
    text-transform: capitalize;
}

.who-dev-description.changing-dev-info{
    transition-delay: 0.08s;
}

.changing-dev-info{
    transform: translateY(-200%);
}

.who-dev-names-container{
    padding: 20px 40px;
    border-block: 1px solid var(--website-color);
    background-color: var(--background-color);
    opacity: 1;
    z-index: 1;
}


.who-dev-selector-container{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    width: calc(100vw - var(--who-img-frame-width));
}

.who-dev-name-container{
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    height: calc(var(--who-name-font-size) * 0.8);
}

.who-dev-name{
    font-family: var(--font-terciary);
    font-size: var(--who-name-font-size);
    font-weight: 900;
    text-align: end;
    pointer-events: none;
}

.who-name-mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    opacity: 0.8;
    transition: height 0.5s;

}

.who-img-frame:hover .who-img-outer-border{
    width: 99%;
    transition-delay: 0.2s;
}

.who-dev-name-container:hover .who-name-mask, .dev-shown .who-name-mask{
    height: 0;
}

.who-dev-names-container:hover .who-dev-name-container:not(:hover) .who-name-mask{
    height: 100%;
}


/*   ______________________   CALL TO ACTION   ______________________   */


.call-to-action-frame{
    position: relative;
    height: 400vh;
    margin-top: 250px;
    background-color: var(--background-color);
}
.call-to-action-container{
    position: sticky;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
 
}
.call-to-action-isotype{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: '-50% -50%';
    scale: 50;
    width: 30vw;
    position: absolute;
    height: 90%;
    fill: transparent;
    stroke-width: 1px;
    stroke: var(--website-color);
    overflow: visible;
}
.call-to-action-text{
    font-size: 60px;
    font-weight: 700;
}
.call-to-action-text-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
}



/*   ______________________   FOOTER   ______________________   */


.footer {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: var(--website-color);
    transform: translateY(-50%);
    z-index: -1;
    overflow: hidden;
}

.footer-message {
    position: absolute;
    color: white;
    font-size: 70px;
    font-weight: 700;
    border-bottom: 1px solid white;
    width: 85vw;
    padding-inline: 20px;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.footer-links-frame{
    position: absolute;
    top: 45%;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.footer-links-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-inline: 40px;
}

.footer-links{
    display: flex;
    flex-direction: column;
}

.footer-links-title{
    color: white;
    font-weight: 600;
}

.footer-link{
    color: gray;
}

.footer-links-container:nth-child(2){
    text-align: end;
}

.footer-logo{
    position: absolute;
    font-family: var(--font-corporative);
    color: white;
    bottom: 0;
    font-size: 23.65vw;
    transform: translateY(calc(25vw * var(--font-corporative-adjust-ratio-bottom)));
}

@media only screen and (max-width: 768px){ 
    
    :root {
        --header-title-font-size: clamp(120px, 25vw, 300px);
        --separator-text-font-size: 75px;
        --separator-number-font-size: 100px;
        --map-suggestion-container-top: 43vh;
        --map-suggestion-container-dinamic-top: 43dvh;
    }
    
    * { 
        cursor: auto;
    }
    .cursor-hoverable{
        cursor: pointer;
    }

    .navbar-container > * {
        margin-inline: 20px;
    }

    .nav-options-container { display: none; }
    .nav-toggler-btn { display: flex; }
    .cursor-frame { display: none; }
    .scrollbar-container { display: none; }
    .footer-message{ display: none; }
    .scroll-down-container { display: none; }
    .masked-container { display: none; }
    .faq-img-container { display: none; }
    .faq-number { display: none; }

    .faq-caret {
        width: 15px;
        min-width: 15px;
    }

    .header-isotype { 
        top: 2%; 
        height: 50%; 
    }

    .header-text-container {
        top: 55%;
        left: 5%;
        width: calc(var(--header-title-font-size) * 2.4);
    }

    .title-feed {
        left: 0; 
    }

    .header-subtitle{
        text-align: end;
        right: 0;
    }

    .role-description-text{
        width: 80vw;
        font-size: 15px;
    }

    .faq-content-container{
        width: 100vw;
    }

    .rollbar-container {
        position: absolute;
        bottom: 0;
        border: none;
        width: 100vw;
        margin: 0;
    }

    .call-to-action-text{
        font-size: 10vw;
    }
    .rollbar-text{font-size: 25px;}
    .rollbar-icon-separator{width: 15px;}

    .footer-links-frame{
        flex-direction: column;
        justify-content: center;
        align-items: end;
        text-align: end;
        gap: 20px;
    }
    .footer-logo{
        top: 0;
        left: 0;
        bottom: unset;
        transform-origin: left;
        font-size: 37vw;
        transform: rotate(90deg) translateY(calc(-50% - (-1 * 37vw * var(--font-corporative-adjust-ratio-bottom))))
    }

    .faq-question-aswer-container{
        margin-block: 0.1vw;
    }
    
    .faq-message{
        max-width: 90%;
    }

    .who-info-container{
        flex-direction: column;
        align-items: end;
    }

    .search-box-input-user-container{
        top: 6%;
    }

    .mapbox-map-container{
        top: 14%;
        left: 0;
        transform: none;
        width: 100vw;
        height: 30%;
    }

    .search-box-suggestions-container {
        height: 100%;
    }

    .map-markers-options-container{
        gap: 15px;
    }
    
    .search-geolocalitation-icon{
        width: 30px;
    }

    .map-user-frame{
        width: 100vw;
    }

    .map-user-frame{
        gap: 5px;
    }

    .map-handle-container{
        border: none;
        transform: translateX(-50%);
    }

    .modal-frame{
        width: 75vw;
        height: auto;
        padding: 20px;
    }
    
    .modal-location-container{
        display: none;
    }
    .modal-input-container{
        width: 100%;
        padding: 0;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1200px){ 

    .navbar-container > * { margin-inline: 40px; }
    .nav-options-container { display: flex;  gap: 0px; }
    .nav-toggler-btn{ display: none; }
    .scrollbar-container { display: none; }
    .faq-number { display: none; }
    .movile-options-container { display: none; }
    .movile-options-container-bg { display: none; }
    .faq-message{ max-width: 70%; }
    .modal-location-container{
        display: none;
    }

    .modal-frame{
        width: 65vw;
    }

    .modal-input-container{
        width: 100%;
        padding: 0;
    }

}


@media only screen and (min-width: 1200px){ 

    .navbar-container > * { margin-inline: 70px; }
    .nav-options-container { display: flex; gap: 35px; }
    .nav-toggler-btn{ display: none; }
    .movile-options-container { display: none; }
    .movile-options-container-bg { display: none; }
}

@keyframes chatbotWaiting {
    0% {scale: 0.9}
    50% {scale: 1.2}
    100% {scale: 0.9}
}